@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Gayathri:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@800&display=swap');
*
{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}
body{
   background:#000;
   min-height: 200vh;
  }
  header{
      position:fixed;
      background: #000;
      top:0;
      left:0;
      width: 100%;
      display: flex;
      justify-content:space-between ;
      align-items:center;
      transition:0.6s;
      padding:10px 100px;
  }
  header.sticky
  {
      padding:5px 100px;
      background: rgb(61, 61, 61);
  }
  header .logo
  {
      position: relative;
      font-weight:700;
      color:rgb(211, 205, 205);
      text-decoration: none;
      font-size: 2em;
      text-transform: uppercase;
      letter-spacing: 2px;
      transition: 0.6s;
  }
  header ul
  {
      position: relative;
      display:flex;
      justify-content: center;
      align-items: center;
  }
  header ul li
  {
      position: relative;
      list-style: none;
  }
  header ul li a 
  {
      position: relative;
      margin:0 15px;
      text-decoration: none;
      color:rgb(241, 241, 241);
      background-color: #000;
      letter-spacing: 2px;
      font-weight: 500px;
      transition: 0.6s;
  }
  .banner
  {
      position: relative;
      width: 100%;

  }
  
  menu{
      margin-top: 20px;
      margin-left: 100px;
  }
 
 .grid-set {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap:1.5rem;
        padding:0 1rem;
      }
  



img {
  width: 100%;
}


  .grid-item {
font-size: 1em;
text-align: center;
padding-top: 1rem;

}

  .inner-width{
    width: 100%;
    max-width: 3000px;
    margin: auto;
    padding: 0 20px;
  }
  
  .gallery-section h1{
    text-align: center;
    text-transform: uppercase;
    color: rgb(255, 254, 254);
  }
  
 
  .gallery-section .gallery{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
  }

 

  
  