@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Gayathri:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@800&display=swap');
*

body,html{
  height: 100%;
  margin: 0;
  padding:0;
  font-family: 'B612', sans-serif;
   min-height: 100vh;
   cursor: pointer;
  }


 h1{
   font-size:80px;
   font-family:'B612', sans-serif;
   text-transform: uppercase;
   margin:0;
   color: #1b1a1a
 }
   
.banner-img{
      background-image: url(3.png);
      -webkit-background-size:cover;
      background-size: cover;
      background-repeat: repeat;
      background-position: center center;
      margin-top: 0px;
      height: 100%;
      filter:blur(4px)
  }
.banner-text{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    margin-top: 30px;
    z-index: 5;
    width: 50%;
    padding: 45px;
    text-align: center;
    border-top-left-radius: 10%;
    border-bottom-right-radius:10%;
    color:rgb(255, 254, 254);
    font-weight: bold;
    border:5px inset rgb(8, 8, 8);
  }
.banner-text p{
    padding: 0 8%;
    font-family: sans-serif;
    margin-top: 10px;
    
}
h2{
    display:inline-block;
    padding: 20px 50px;
    border: 3px solid rgb(255, 252, 252);
    padding: 55px;
    font-size: 20px;
    text-decoration: none;
    color:rgb(255, 250, 250);
    font-family: sans-serif;
    margin-top: 20px;
}
.p{
    display:none;
    padding: 10px 50px;
    border: 2px solid rgb(231, 207, 207);
    font-size: 18px;
    text-decoration: none;
    color:rgb(216, 216, 216);
    margin-top:5px;
}
 a{
    display:inline-block;
    padding: 10px 50px;
    border: 10px solid rgb(255, 255, 255);
    font-size: 20px;
    text-decoration: none;
    color:rgb(255, 255, 255);
    margin-top:5px;
  }
.cursor{
    position: fixed;
    width: 50px;
    height: 50px;
    border: 1px solid #b9b0b0;
    border-radius: 50%;
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: .1s;
  }
  
.cursor2{
    position: fixed;
    width: 8px;
    height: 8px;
    background-color: #c6c6c6;
    border-radius: 50%;
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: .15s;
  }
  
.content:hover ~ 
.cursor{
    transform: translate(-50%, -50%) scale(1.5);
    background-color: #8b8989;
    opacity: .5;
  }
  
  .content:hover ~ .cursor2{
    opacity: 10;
  }

  
  