@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Gayathri:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@800&display=swap');
*

body,html{
  height: 100%;
  margin: 0;
  padding:0;
  font-family: 'Courier New', Courier, monospace;
   min-height: 100vh;
   cursor: pointer;
  }


 h1{
   font-size:40px;
   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
   text-transform: uppercase;
   margin:0;
 }
   
.banner-img{
      background-image: url(bal.jpg);
      -webkit-background-size:cover;
      background-size: cover;
      background-repeat: repeat;
      background-position: center center;
      margin-top: 0px;
      height: 100%;
      filter:blur(px)
  }
.banner-text{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    margin-top: 10px;
    z-index: 5;
    width: 45%;
    padding: 45px;
    text-align: center;
    border-top-left-radius: 0%;
    border-bottom-right-radius:0%;
    background-color: rgb(238, 104, 80);
    color:rgb(255, 255, 255);
    font-weight: bold;
    border:3px inset rgb(255, 247, 247);
  }
.banner-text p{
    padding: 0.8%;
    font-family: sans-serif;
    margin-top: 10px;
}
p1{
    display:inline-block;
    padding: 10px 50px;
    border: 2px solid rgb(24, 23, 23);
    font-size: 12px;
    text-decoration: none;
    color:rgb(3, 3, 3);
    font-family: sans-serif;
    margin-top: 25px;
}
p2{
    display:none;
    padding: 10px 50px;
    border: 2px solid rgb(240, 240, 240);
    font-size: 18px;
    text-decoration: none;
    color:rgb(255, 236, 236);
    margin-top:15px;
}
a{
    display:inline-block;
    padding: 10px 50px;
    border: 0px solid rgb(240, 240, 240);
    font-size: 28px;
    text-decoration: none;
    color:rgb(255, 255, 255);
    margin-top:45px;
  }
.cursor{
    position: fixed;
    width: 50px;
    height: 50px;
    border: 1px solid #b9b0b0;
    border-radius: 50%;
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: .1s;
  }
  
.cursor2{
    position: fixed;
    width: 8px;
    height: 8px;
    background-color: #c6c6c6;
    border-radius: 50%;
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: .15s;
  }
  
.content:hover ~ 
.cursor{
    transform: translate(-50%, -50%) scale(1.5);
    background-color: #8b8989;
    opacity: .5;
  }
  
  .content:hover ~ .cursor2{
    opacity: 10;
  }

  
  